body {font-family: "Lato", sans-serif}
.mySlides {display: none}
.create-btn{
  z-index: 9999998;
  position: absolute;
  bottom: 12%;
  left: 4%;
}

#sidebar{
  display:none;
  width:200px;
}

#slideshow{
  position: fixed;
  height: 100%;
  width: 100%;
}
.mySlides{
  width:100%;
}
#authenticated-container{
  display: none;
  margin-left: 200px;
}

#full-card{
  position: fixed;
    left: 200px;
    right: 0%;
    bottom: 50%;
    top: 61px;
    height: 75%;
}

.note-modal-card-cont{
  position: relative;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.section-list-container{
  max-height: 500px;
  overflow: auto;
}

#editor-container {
  height: 103%;
}

#note-title{
  display: inline-block;
}

#note-save-btn{
  font-size:48px;
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;

}